{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

    <form method="GET"> {# ?numbers=3 #}
        <label for="numbers">Nombre d'articles par page</label>
        <input type="hidden" name="page" value="{{ app.request.query.get('page', 1) }}">
        <select name="numbers" id="numbers" onchange="this.form.submit();">
            <option value="5">Choisissez une option</option>
            <option value="5">5 par page</option>
            <option value="3">3 par page</option>
            <option value="1">1 par page</option>
        </select>
    </form>

    {# Affichage de plusieurs enregistrements #}
    <ul>
        {% for article in articles %}
            <li>{{ article.title }} {{ article.createdAt|date('d-m-Y')}}, {{ article.author.name }}</li>
        {% endfor %}
    </ul>

    {# Affiche la numérotations des pages #}
    {{ knp_pagination_render(articles) }}

    {# Affichage d'un enregistrement selon son ID #}
    <p>{{ article.title }} - {{ article.description }} - {{ article.createdAt|date('d.m.Y') }}</p>

    {# Affichage d'un enregistrement selon son des critères #}
    {{ post.title }} - {{ post.description }} - {{ post.createdAt|date('d.m.Y') }}

    {# Affichage un ou plusieurs enregistrements #}
    <ul>
        {% for post in posts %}
            <li>{{ post.title }} {{ post.createdAt|date('d-m-Y') }}</li>
        {% endfor %}
    </ul>

    {# Affichage un ou plusieurs enregistrements avec une requète DQL perso #}
    <ul>
        {% for result in results %}
            <li>{{ result.title }} - {{ result.description }} - {{ result.createdAt|date('d.m.Y') }}</li>
        {% else %}
            <p>Aucun résultat</p>
        {% endfor %}
    </ul>
{% endblock %}
